img {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 30%;
	width: 30%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div {
	color: #000d1a;
	font-size: 16px;
	width: 500px;
	margin: auto;
}

h1 {
	width: 300px;
	margin: auto;
}

body {
	background-color: #a1c0de;
	font-family: Helvetica, Times, serif;
}